---
import { menuItems } from "@/const";
const linkClass = "block px-6 py-4 text-slate-700 hover:text-slate-900";
const leftRightWidth = "w-40";
---

<header class="bg-slate-50 border-b">
  <div class="flex items-center max-w-7xl mx-auto">
    <div class={leftRightWidth}>
      <h1 class="text-slate-900 font-bold">LOGO</h1>
    </div>
    <nav class="flex-1">
      <ul class="flex gap-x-12 justify-center">
        {
          menuItems.map((item) => {
            return (
              <li>
                <a class={linkClass} href="">
                  {item.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <div class={leftRightWidth}></div>
  </div>
</header>
